@import "tailwindcss";


@theme{
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-borderGradient: hsl(var(--borderGradient));
  --color-mainWhite: hsl(var(--mainWhite));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
}

  @layer base{
    :root{
      --background: 0 14.3% 97.3%;
      --foreground: linear-gradient(
      120deg,
      hsl(217, 52%, 50%),
      hsl(210, 100%, 31%),
      hsl(259, 46%, 44%),
      hsl(270, 45%, 45%)
    );

      --primary: 220, 97%, 25%;
      --primary-foreground: 0 14.3% 97.3%;
      --secondary: 0 0% 30.6%;
      --mainWhite: 0 14.3% 97.3%;

      --borderGradient: linear-gradient(
      120deg,
      hsl(218.14, 50.59%, 50%),
      hsl(208.68, 100%, 31.18%),
      hsl(258.24, 45.13%, 44.31%),
      hsl(272.88, 44.83%, 45.49%)
    );
    }

    .dark{
      --background: 218 97% 26.3%;
      --foreground: 213 31% 91%;

      --card: 222 47% 8%;

      --primary: 0 14.3% 97.3%;
      --primary-foreground: 218 97% 26.3%;
      --secondary: 0 14.3% 97.3%;

      --borderGradient: linear-gradient(
      120deg,
      hsl(217, 52%, 50%),
      hsl(210, 100%, 31%),
      hsl(259, 46%, 44%),
      hsl(270, 45%, 45%)
    );
    }

    *{
      @apply border-border;
    }
    html{
      scroll-behavior: smooth;
      overscroll-behavior: none;
    }
    body{
      @apply bg-background text-foreground transition-colors duration-300;
      font-feature-settings: "rlig" 1, "calt" 1;
      overscroll-behavior: none;
    }
  }

  ::-webkit-scrollbar {
    display:none;
  }

@layer utilities {
  .border-gradient {
    border: 2px solid ;
    border-image: var(--borderGradient) 1;
    border-image-slice: 1;
    border-radius: 0.5rem; /* match your rounded-lg */
  }
}

@layer utilities {
  .gradient-bg-border {
    position: relative;
    overflow: hidden;
    background: var(--borderGradient); /* gradient border */
  }

  .gradient-bg-border > .inner {
    border-radius: inherit;
    background: var(--foreground); /* gradient background */
    padding: 2rem; /* match your p-8 (2rem) */
  }
}

@utility container{

  margin-inline:auto;
  padding-inline: 2rem;
  
  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px){
    max-width: 1400px;
  }
}

.slide-in-bottom {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.7s, transform 0.7s;
}
.slide-in-bottom:not(.slide-in-bottom) {
  opacity: 0;
  transform: translateY(40px);
}

#root{
  max-width:100%;
  margin:0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Albert Sans', sans-serif;
}